openapi: 3.0.3
info:
  title: Pardos Chicken - API Pedidos
  description: Microservicio serverless para gestión de clientes y pedidos (como Taco Bell)
  version: 1.0.0
  contact:
    name: Amir Ykehara
    email: amir.ykehara@utec.edu.pe

servers:
  - url: https://2wmcf9zj7e.execute-api.us-east-1.amazonaws.com
    description: Entorno de desarrollo

paths:
  /customers:
    post:
      summary: Crear cliente
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateCustomer'
      responses:
        '201':
          description: Cliente creado
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomerCreated'
        '500':
          description: Error interno

  /customers/{customerId}:
    get:
      summary: Obtener cliente por ID
      parameters:
        - name: customerId
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Cliente encontrado
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Customer'
        '404':
          description: No encontrado

  /orders:
    post:
      summary: Crear pedido (dispara Step Functions)
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateOrder'
      responses:
        '201':
          description: Pedido creado
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrderCreated'
        '500':
          description: Error

  /orders/{customerId}:
    get:
      summary: Listar pedidos de un cliente
      parameters:
        - name: customerId
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Lista de pedidos
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrdersList'
        '404':
          description: Sin pedidos

  /order/{orderId}:
    get:
      summary: Ver detalle completo de un pedido
      parameters:
        - name: orderId
          in: path
          required: true
          schema:
            type: string
            example: o1738795678
      responses:
        '200':
          description: Detalle del pedido
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrderDetail'
        '404':
          description: No encontrado

components:
  schemas:
    CreateCustomer:
      type: object
      required: [customerId, name, email]
      properties:
        customerId:
          type: string
          example: c100
        name:
          type: string
          example: Ana López
        email:
          type: string
          example: ana@utec.edu.pe

    CustomerCreated:
      type: object
      properties:
        message:
          type: string
        customerId:
          type: string

    Customer:
      type: object
      properties:
        PK:
          type: string
        name:
          type: string
        email:
          type: string
        createdAt:
          type: string

    CreateOrder:
      type: object
      required: [customerId, items, total]
      properties:
        customerId:
          type: string
          example: c100
        items:
          type: array
          items:
            type: object
            properties:
              productId:
                type: string
                example: pollo_1_4
              qty:
                type: integer
                example: 1
              price:
                type: number
                example: 25.9
        total:
          type: number
          example: 34.4

    OrderCreated:
      type: object
      properties:
        message:
          type: string
        orderId:
          type: string
          example: o1738795678

    OrdersList:
      type: object
      properties:
        orders:
          type: array
          items:
            type: object
            properties:
              orderId:
                type: string
              status:
                type: string
              currentStep:
                type: string
              total:
                type: number

    OrderDetail:
      type: object
      properties:
        orderId:
          type: string
        status:
          type: string
          enum: [CREATED, IN_PROGRESS, COMPLETED]
        currentStep:
          type: string
          enum: [CREATED, COOKING, PACKAGING, DELIVERY, DELIVERED]
        total:
          type: number
        customer:
          type: object
          properties:
            name:
              type: string
        steps:
          type: array
          items:
            type: string
          example: ["COOKING", "PACKAGING", "DELIVERY", "DELIVERED"]
